.Aime{
    cursor: pointer;
    width: fit-content;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    background-color: #b9c7cb;
    display: flex;
    align-items: center;
    span{
        padding: 5px;
    }
    .icone{
        display: flex;
        align-items: center;
    }

}

