.Appli {
height: 100vh;
overflow: hidden;



    @media (min-width : 768px) {
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 1fr;
  }
  .Tout{

  .idj {

    .background-image {
      position: fixed;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    .img-info {

      .infoContainer{
        position: fixed;
        bottom: 0;
        width: 100%;
      }
        .desc{
            p{
            margin: 0;
            padding: 5px;
            width: 15rem;
              background-color: rgba(128, 128, 128, 0.611);
            }
        }

    }
  }
}

}

.commAfficher{
  grid-area: 1/1/2/2;
  position: relative;
}

