.Appli{

    .idj{

        width: 20rem;
        height: 20rem;
        margin: auto;


        .image{
            img{

                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }

        .img-info{
            width: 50%;
            display: flex;

        }
    }

}