.Appli {
height: 100vh;
overflow: hidden;
  .idj {

    .background-image {
      position: fixed;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    .img-info {
        .desc{
            color: white;
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: rgba(128, 128, 128, 0.638);
        }

    }
  }
}
