.ListeCommentaires{
    //mobile first
    position: absolute;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:black;

    animation: slide 200ms ease-in;

    @media (min-width : 768px) {
        background-color: rgba(0, 0, 0, 0.471);
        grid-area: 1/2/2/3;
        position: relative;
    }

    .ajouterComm{
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: #b9c7cb;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        button{
          align-self: flex-end;
        }

    }

    .lesCommentaires{
        height: 100%;
        overflow: scroll;
        position: relative;
        padding: 8px;

    }

    .Tips{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      background-color: #2e4dbd;
      p,.fermerCommentaire{
        padding: 5px;
      }
    }
}




@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

